/*======================================
//--//-->   SOME ADDITIONAL STYLING
======================================*/

#back-link {
  padding: 1rem 3rem;
  letter-spacing: .05rem;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

#back-link:hover {
  background-color: #2eca6a;
  color: #000000;
  text-decoration: none;
}

#reload-btn {
	font-size: 20px;
}





